.logoImg {
  animation: imgRotate 4s ease-in-out infinite;
}

@keyframes imgRotate {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(90deg);
  }
  100% {
    transform: rotateY(0);
  }
}
