.imageContainer {
  position: relative;
  overflow: hidden;
  border-radius: 2rem;
}

.imageContainer:hover .image {
  transform: scale(1.2); /* Increase size on hover */
}

.image {
  transition: transform 0.3s ease; /* Add transition for smooth effect */
}
