/* @layer rdg.Cell {
  .c1wupbe7-0-0-beta-38 {
    border-bottom: 1px solid var(--rdg-border-color);
    border-right: none !important;
    border-left: none !important;
    display: flex !important;
    justify-content: center !important;
    padding: 12px !important;
    align-items: center !important;
    width: auto !important;
    overflow: visible;
  }

  .c1wupbe7-0-0-beta-38[aria-selected="true"] {
    outline: none;
  }
}

@layer Root {
  .r104f42s7-0-0-beta-38 {
    --rdg-color: #172b4d;
    --rdg-border-color: #dcdfe4;
    --rdg-background-color: #fafbfc;
    --rdg-header-background-color: #f5f4fc;
    --rdg-row-hover-background-color: hsl(0deg 0% 96%);
    --rdg-row-selected-background-color: hsl(207deg 76% 92%);
    --rdg-row-selected-hover-background-color: hsl(207deg 76% 88%);
    --rdg-checkbox-color: rgb(78, 59, 201);
    --rdg-checkbox-focus-color: rgb(78, 59, 201);
    --rdg-checkbox-disabled-border-color: #ccc;
    --rdg-checkbox-disabled-background-color: #ddd;
    --rdg-selection-color: #66afe9;
    --rdg-font-size: 14px;
    --rdg-font-family: "Outfit";
    --rdg-line-height: "16px";
    --rdg-header-font-weight: 500;
    font-family: var(--rdg-font-family);
    line-height: var(--rdg-line-height);
    block-size: auto;
  }
}
.rdg::-webkit-scrollbar {
  width: 6px !important;
  height: 6px !important;
}
.rdg::-webkit-scrollbar-track {
  background-color: #f1f1f1 !important;
}
.rdg::-webkit-scrollbar-thumb {
  background-color: #c1c1c1 !important;
} */
